@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
/* font-family: 'Poppins', sans-serif; */


@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&family=Poppins:wght@300;400&display=swap');

/* font-family: 'Play', sans-serif; */




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* **************************navbar ************************************** */

.navbar{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    line-height: 26px;
    text-transform: uppercase;   /* all word change to uppercase inside the navbar  */
    box-shadow: 0 8px 6px -6px  gray;
    --webkt-box-shadow: 0 8px 6px -6px  gray;
    border-bottom: 0 solid gray;
}

.nav-link{
  font-weight:300 ;  
}

.active{
    border-bottom: 2px solid black;
}


.navbar-brand{
    font-weight: 700;
    font-family: 'roboto', sans-serif;
    letter-spacing: 3px;
}
/* **************************Search form************************************** */
.search-form {
  margin-right: 10px;
  margin-top: 4px;
}

.search-form input {
  border: none;
  border-radius: 0;
}

.search-form button {
  background-color: #000000;
  border-radius: 0;
  color: white;
}

/* **************************navbar ************************************** */
.footer{
    position: relative;
    color: #fff;
    padding: 15px;
    background-color: black;
}

.footer a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.footer a:hover{
    color: brown;
    border-bottom: 1px solid brown;
}


/*======== page not found css ======= */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
.pnf-btn:hover {
  background-color: black;
  color: white;
}


/* =========contact us ========= */
.contactus {
    margin: 0;
    padding: 0;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }


/* ======================= product page ================  */
.product-link {
  text-decoration: none !important;
  color: black !important;
}

/* ======================= Category page ================  */
.categories-page{
  height: 80vh;
}
.cat-btn {
  background-color: darkcyan;
  padding: 40px 0px;
  font-size: 24px;
  text-transform: uppercase;
}

.cat-btn:hover {
  background-color: #434343;
  color: white;
}


/* ================
====dashboard
=================== */

.dashboard {
  margin-top: 100px !important;
}

.dashboard-menu h4 {
  background-color: #434343 !important;
  color: white;
  padding: 20px 0px;
}